@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto&display=swap');

body {
  display: flex;
  justify-content: center;
 
  padding: 4rem;
  text-align: center;
  font-family:'Roboto', sans-serif;
  min-height: 100vh; 
  width:100vw;
  /* background-color: #7a7adb; */
  background-color: #170e13;
  background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);  
 
  
}
.page-background {
 
  background: black;
  min-height: 100vh; 
}



@tailwind base;
@tailwind components;
@tailwind utilities;